<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>personID</key>
	<string>1871165</string>
	<key>address</key>
	<string>浑南校区东门</string>
	<key>name</key>
	<string>张一博</string>
</dict>
</plist>
